<link rel="stylesheet" type="text/css" href="/css/createComment.css">

<div class="comment-container">
    <form id="comment-form" method="POST"> <!-- place action and method later -->
        <text class="comment-prompt">Post a comment</text>
        <textarea placeholder="What do you think?" class="comment-bar" rows="4" name="content"></textarea>
        <input type="submit" class="comment-submit" value="COMMENT">
    </form>
</div>