<nav>
    <a href="/"><button class="navbutton">HOME</button></a>
    <a href="/help"><button class="navbutton">HELP</button></a>
    <a href="#login"><button class="navbutton">LOGIN</button></a>
    <a href="#register"><button class="navbutton">REGISTER</button></a>
    <a href="/search?type=post"><button class="navbutton"><i class="fa fa-search"></i>&nbsp; BROWSE</button></a>

    <a href="/create_post" class="create-btn-container">
        <button class="create-post-btn">
            <i class="fa fa-plus"></i>&nbsp; CREATE POST
        </button>
    </a>
</nav>