<div id="register" class="overlay">
    <div class="register-window">
        <div class="register-content">
            <a class="close" href=""><i class="fa fa-times"></i></a>
            <h3 class="register-header">Register</h3><br>

            <form id="create-user" action="/register" method="POST">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 200px">Username</td>
                        <td class="register-bar-container">
                            <input type="text" name="username" id="username" class="register-bar" placeholder="Username" required>
                            <text id="reg-username-err" class="err-text"></text>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td class="register-bar-container">
                            <input type="email" name="email" id="email" class="register-bar" placeholder="example@email.com" required>
                            <text id="reg-email-err" class="err-text"></text>
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td class="register-bar-container">
                            <input type="password" name="password" id="password" class="register-bar" placeholder="Password" required>
                            <text id="reg-password-err" class="err-text"></text>
                        </td>
                    </tr>
                    <tr>
                        <td>Repeat Password</td>
                        <td class="register-bar-container">
                            <input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Repeat Password" class="register-bar" required>
                            <text id="reg-rep-password-err" class="err-text"></text>
                        </td>
                    </tr>
                    <tr>
                        <td>Pronouns</td>
                        <td class="register-bar-container"><input type="text" name="pronouns" id="pronouns" placeholder="How can we refer to you?" class="register-bar" required></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>Tell us about yourself! <i>(optional)</i></p>
                            <textarea name="description" id="description" class="register-bar" placeholder="I am..." rows="4"></textarea>
                            <text id="reg-description-err" class="err-text"></text>
                        </td>
                    </tr>
                </table>

                <p><input type="checkbox" id="agreeTerms" class="register-agree" value="agree"> I agree to the <a>terms</a> and <a>privacy policy</a></p>
                <center><input type="submit" id="register-submit" value="REGISTER" class="register-submit"></center>
            </form>

        </div>
    </div>
</div>

<script src="./js/register.js"></script>