<link rel="stylesheet" type="text/css" href="/css/help.css">

<h1 class="post-title">FAQs</h1>
<div>
    <h2 class="faq-title">Do I need to login to view posts?</h2>
    <p>No, users can view posts and comments on any page. However, users cannot upvote/downvote or make their own posts/comments when not signed in.</p>
</div>
<div>	
    <h2>Can I post personal information?</h2>
    <p>NO, users should not post any personal, and especially private information about themselves, or anyone else</p>
</div>

<h1 class="post-title">Terms and Conditions</h1>
<div class="section-topic">
    <div class="terms-conditions">
        <h2>Intellectual Property</h2>
        <p>
            Our website's contents, logo, designs, and other additional features are all property of the developers and are protected by copyright laws
        </p>
        <h2>Termination</h2>
        <p>
            Users have the right or the freedom to post content that is related to any of the forum topics. Posting any unrelated, illegal (relative to the laws of the Philippines), or any form of pornographic content may result in the termination of your account, unless the content is allowed by a moderator.
        </p>
        <h2>Third Party Content</h2>
        <p>
            Our website is not responsible for any third party websites or applications that users can be linked to and the potential damage thereof.
        </p>
        <h2>User Limitations</h2>
        <p>
            Users of our website are free to post content typically related to the forum topic or other non-related topics given that the moderators permitted said posts. Users agree not to intentionally share misinformation, promote violence (especially in the real world), post pornographic content, post hate speech (such as harassment, threatening, and abusive speech), impersonate any other individual, and anything similar to the mentioned limitaions. Users violating said limitations may get their account terminated.

            By creating an account, the person(s) owning said account agree to these User Limitations
        </p>
    </div>
</div>

<h1 class="post-title">Report Post</h1>
<div class="form-div">
    <form id="report" onsubmit="return false;">
        <input type="text" name="report-title" id="report-title" placeholder="Report Title"><br>
        <input type="text" name="report-body" id="report-body" placeholder="Report Description"><br>
        <input type="submit" name="name" id="report-submit">
    </form>
</div>

<h1 class="post-title">Contact Us</h1>
<p>Email:  leveluplounge@gmail.com</p>
<p>Phone No.: 09177214719</p>