<center>
    <h2>Account created successfully!</h2>
    <p>Welcome to LevelUpLounge! Enjoy your stay.</p>

    <style>
        .back-to-home {
            background-color: var(--tertiary-color);
            font-family: var(--nav-font);
            font-size: 20px;
            border: none;
            border-radius: 5px;
            width: 25%;
            padding: 5px;
        }
    </style>

    <a href="/"><button class="back-to-home">Back to Home</button></a>
</center>