#comment-form {
    width: 91.5%;
}

.comment-prompt {
    font-size: 20px
}

.comment-bar {
	font-family: var(--main-font);
	font-size: 18px;
	border-radius: 5px;
	outline: none;
	border: 2px solid white;
	width: 100%;
}
.comment-bar:focus {
	box-shadow: 0 0 10px 5px var(--tertiary-color);
	outline: none;
	border: 2px solid white;
}

.comment-submit {
	background-color: var(--tertiary-color);
	font-family: var(--nav-font);
	font-size: 20px;
	border: none;
	border-radius: 5px;
	width: 50%;
	padding: 5px;
}
.comment-submit:hover {
	background-color: var(--tertiary-color-lighter);
}